/* PHASE 2: Navigation */

.header-logo {
    float: left;
    border-right: white solid 1px;
    font-weight: bold;
}

.header-logo:hover {
    background-color: black;
}

.header-list {
    float: right;
}

.header-list > li {
    float: left;
    border-left: white solid 1px;
}

.header-list > li:hover {
    background-color: black;
}